body{
    background-color:darkslategrey;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.clock {
    color: white;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 100px;
    text-shadow: 2px 2px 6px rgb(75, 74, 74);
    font-weight: 1000;
}

#hour, #minute {
    padding: 0px 10px;
    letter-spacing: 5px;
}

#divider{
    animation: blink-effect 1s step-end infinite;
    margin-right: 10px;
    margin-left: 10px;
    
}

@keyframes blink-effect {
    50%{
        opacity: 0;
    }
}

.form,
.greeting{
    display: none;
}

.showing-name{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    font-size: 50px;
}

*, *:before, *:after { box-sizing: inherit; }
.form-input { border-style: none; background: transparent; outline: none; }
.form-submit{ padding: 0; background: none; border: none; outline: none; }

.showing-form{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 2px;
    padding: 10px 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.showing-form:after{
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
}

.form-input{
    flex-grow: 1;
    font-size: 1.8rem;
    line-height: 2.4rem;
    vertical-align: middle;
    color: #BFD2FF;
}

.form-input::placeholder{
    color: #7881A1;
}

.form-submit{
    color: #7881A1;
    height: 40px;
    width: 40px;
    font-size: 2.0rem;
    line-height: 2.4rem;
    vertical-align: middle;
    transition: color .25s;
}

@keyframes gradient { 
    0%{background-position:0 0}
    100%{background-position:100% 0}
}

.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    animation: fadeIn 0.8s linear;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}